
@model Production
@{
    ViewData["Title"] = "Create";
}

<style>
    .width30 {
        width: 30%;
    }

    .width70 {
        width: 70%;
    }

    .floatL {
        float: left;
    }

    .width50 {
        width: 50%;
    }

    .floatR {
        float: right;
    }

    .btn {
        width: 100%;
        border-radius: 0px;
    }

    .width100 {
        width: 100%;
    }

    .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .boxStyle {
        padding: 20px;
        border-radius: 25px;
        border-top: 6px solid #dc3545;
        border-bottom: 6px solid #28a745;
    }
</style>
<body class="bg-dark">
    <header class="bg-dark" style="height: 60px; padding: 5px;">
        <h3 class="text-light" style="text-align: center;">Create Customer Order</h3>
    </header>
    <div class="container bg-dark">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6 bg-light boxStyle">
                <form asp-controller="Productions" asp-action="Create" method="post" class="mt-3">
                    <div class="form-group">
                        <div class="width30 floatL"><label>ProdInvId Name</label></div>
                        <div class="width70 floatR">
                            <input asp-for="ProdInvId" id="CustId" class="width100 form-control" name="firstname" type="text" value="" size="20">
                            <span asp-validation-for="ProdInvId" class="text-danger"></span>
                        </div><br><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>ProdQuantity Name</label></div>
                            <div class="width70 floatR">
                                <input asp-for="ProdQuantity" class="width100 form-control" name="ProdInvId" type="text" value="" size="20">
                                <span asp-validation-for="ProdQuantity" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>HDPE</label></div>
                            <div class="width70 floatR">
                                <input asp-for="HDPE" class="width100 form-control" name="Quantity" src="" type="text" value="" size="20">
                                <span asp-validation-for="HDPE" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>LDPE</label></div>
                            <div class="width70 floatR">
                                <input asp-for="LDPE" class="width100 form-control" name="OrderDate" type="text" value="" size="20">
                                <span asp-validation-for="LDPE" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>PP</label></div>
                            <div class="width70 floatR">
                                <input asp-for="PP" class="width100 form-control" name="address" type="text" value="" size="20">
                                <span asp-validation-for="PP" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>T2OR</label></div>
                            <div class="width70 floatR">
                                <input asp-for="T2OR" class="width100 form-control" name="address" type="text" value="" size="20">
                                <span asp-validation-for="T2OR" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>T2OB</label></div>
                            <div class="width70 floatR">
                                <input asp-for="T2OB" class="width100 form-control" name="address" type="text" value="" size="20">
                                <span asp-validation-for="T2OB" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>T2OY</label></div>
                            <div class="width70 floatR">
                                <input asp-for="T2OY" class="width100 form-control" name="address" type="text" value="" size="20">
                                <span asp-validation-for="T2OY" class="text-danger"></span>
                            </div>
                        </div><br>
                        <div class="form-group">
                            <div class="width30 floatL"><label>Date</label></div>
                            <div class="width70 floatR">
                                <input asp-for="Date" class="width100 form-control" name="address" type="text" value="" size="20">
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div><br><br><br>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div style="padding-left:80px;" class="form-group row ">
                            <div class="btn-group btn-group-justified col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <a asp-controller="Productions" asp-action="Index" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>



                    </div>
                </form>
            </div>

        </div>
    </div>

</body>

@*<form asp-controller="Productions" asp-action="Create" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="ProdInvId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ProdInvId" class="form-control" placeholder="ProdInvId" />
                <span asp-validation-for="ProdInvId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProdQuantity" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ProdQuantity" class="form-control" placeholder="ProdQuantity" />
                <span asp-validation-for="ProdQuantity" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="HDPE" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="HDPE" class="form-control" placeholder="HDPE" />
                <span asp-validation-for="HDPE" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="LDPE" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LDPE" class="form-control" placeholder="LDPE" />
                <span asp-validation-for="LDPE" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="PP" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="PP" class="form-control" placeholder="PP" />
                <span asp-validation-for="PP" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="T2OR" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="T2OR" class="form-control" placeholder="T2OR" />
                <span asp-validation-for="T2OR" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="T2OB" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="T2OB" class="form-control" placeholder="T2OB" />
                <span asp-validation-for="T2OB" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="T2OY" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="T2OY" class="form-control" placeholder="T2OY" />
                <span asp-validation-for="T2OY" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="Thinner" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Thinner" class="form-control" placeholder="Thinner" />
                <span asp-validation-for="Thinner" class="text-danger"></span>
            </div>
        </div>
       <div class="form-group row">
            <label asp-for="Wastage" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Wastage" class="form-control" placeholder="Wastage" />
                <span asp-validation-for="Wastage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ProdHour" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ProdHour" class="form-control" placeholder="ProdHour" />
                <span asp-validation-for="ProdHour" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Date" class="form-control" placeholder="Date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>



        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Productions" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>





    </form>*@

