
@model Production

@{
    ViewData["Title"] = "Edit";
}

<form asp-controller="Productions" asp-action="Edit" method="post" class="mt-3">

    <input hidden asp-for="ProductionId" />

    <div class="form-group row">
        <label asp-for="ProdInvId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ProdInvId" class="form-control" placeholder="ProdInvId" />
            <span asp-validation-for="ProdInvId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProdQuantity" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ProdQuantity" class="form-control" placeholder="ProdQuantity" />
            <span asp-validation-for="ProdQuantity" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="HDPE" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="HDPE" class="form-control" placeholder="ProdQuantity" />
            <span asp-validation-for="HDPE" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="LDPE" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LDPE" class="form-control" placeholder="LDPE" />
            <span asp-validation-for="LDPE" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="PP" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="PP" class="form-control" placeholder="PP" />
            <span asp-validation-for="PP" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="T2OR" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="T2OR" class="form-control" placeholder="ProdQuantity" />
            <span asp-validation-for="T2OR" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="T2OB" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="T2OB" class="form-control" placeholder="T2OB" />
            <span asp-validation-for="T2OB" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="T2OY" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="T2OY" class="form-control" placeholder="T2OY" />
            <span asp-validation-for="T2OY" class="text-danger"></span>
        </div>
    </div>

    
<div class="form-group row">
        <label asp-for="Thinner" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Thinner" class="form-control" placeholder="Thinner" />
            <span asp-validation-for="Thinner" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="Wastage" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Wastage" class="form-control" placeholder="Wastage" />
            <span asp-validation-for="Wastage" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="ProdHour" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="ProdHour" class="form-control" placeholder="ProdHour" />
            <span asp-validation-for="ProdHour" class="text-danger"></span>
        </div>
    </div>
    
<div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Date" class="form-control" placeholder="Date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    


    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="Productions" asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>



    @*<div class="form-group row">
            <div class="col-sm-10">
                Total Employee Count = @_empRepository.GetAllEmployees().Count();
            </div>
        </div>*@


    @*This script is required to display the selected file in the file upload element*@


</form>

