
@{
    ViewData["Title"] = "Index";
}


<div class="" style="max-height:500px; width:100%;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @*<div class="item active">
                <img style="max-height:500px; width:100%;" src="~/images/Additional/coustom/la.jpg" alt="Los Angeles" >
            </div>*@

            <div class="item">
                <img style="max-height:500px; width:100%;" src="~/images/Additional/coustom/slide_1.png" alt="Chicago">
            </div>

            @*<div class="item">
                <img style="max-height:500px; width:100%;" src="~/images/Additionalg/coustom/ny.jpg" alt="New york" >
            </div>*@
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3> <br>
            <p style="text-align:justify;">
                <b>NORTH BENGAL</b> started its journey with 
                cast iron (CI) products in 2006. The initial main 
                objective was to ensure environment friendly polymers 
                and affordable irrigation instruments for improving rural
                life. Today the company has its wide ranges of polymer
                products like small poly bag, bekary package, polymer 
                sheets, 6" soup packet etc and has achieved the prestige
                as the largest cast iron foundry and light engineering 
                workshop in Bangladesh. With a vision to serve the common
                people of Bangladesh with quality necessary products, 
                <b>
                    NORTH BENGAL
                </b>
                diversified its operation into PVC category in 2008 and 
                in plastic sector in 2007. At present it is market leader 
                in all these three sectors-cast iron, PVC and Plastic in 
                the country. Sizeable amount is also exported to different
                countries.
            </p>
        </header>

    </div>
</section><!-- #about -->
<!--==========================
      MAterials Section
    ============================-->
<section id="portfolio" class="section-bg">
    <div class="container">

        <header class="section-header">
            <h3 class="section-title">Our Raw Materials</h3>
        </header>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/hdpe.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">HDPE</a></h4> <br />
                        <p>HIGH DENSITY POLY ETHILYN</p>
                        <div>
                            <a href="~/images/Additional/materials/hdpe.png" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/ldpe.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">LDPE</a></h4> <br />
                        <p>LOW DENSITY POLY ETHILYN</p>
                        <div>
                            <a href="~/images/Additional/materials/ldpe.png" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/thinner.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">THINNER</a></h4> <br />
                        <p>MATERIALS SOLUBLE THINNER</p>
                        <div>
                            <a href="~/images/Additional/materials/thinner.png" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/red.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">RED COLOR MIXER</a></h4> <br />
                        <p>TITENIUM DI-OXIDE (RED)</p>
                        <div>
                            <a href="~/images/Additional/materials/red.png" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/yellow.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">YELLOW COLOR MIXER</a></h4> <br />
                        <p>TITENIUM DI-OXIDE (YELLOW)</p>
                        <div>
                            <a href="~/images/Additional/materials/yellow.png" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <img src="~/images/Additional/materials/blue.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4><a href="#">BLUE COLOR MIXER</a></h4> <br />
                        <p>TITENIUM DI-OXIDE (BLUE)</p>
                        <div>
                            <a href="~/images/Additional/materials/blue.png" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- Materials -->
<!--==========================
      our products Section
    ============================-->

<section id="clients" style="background:#004db3">

    <div class="container">

        <div class="section-header">
            <h3 style="color:aliceblue">Our Products</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-1.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-3.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-4.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-5.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="~/images/Additional/clients/client-6.png" class="img-fluid" alt="">
                </div>
            </div>



        </div>

    </div>

</section>

<!--==========================
      employee section
    ============================-->
<section id="team" style="background:#e6f1ff">
    <div class="container">
        <div class="section-header">
            <h3> Board of Management</h3>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="member">
                    <img src="~/images/Additional/employe 1.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Sabbir Ahmed</h4>
                            <span>Founder & Owner</span>
                            <div class="social">
                                <a href="https://www.facebook.com/sabbir.ahm3d"><i class="fa fa-facebook"></i></a>
                                <a href="https://mail.google.com"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member">
                    <img src="~/images/Additional/employe 2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Nazmus Sakib Munna</h4>
                            <span>Co-owner</span>
                            <div class="social">
                                <a href="https://www.facebook.com/profile.php?id=100000448252711"><i class="fa fa-facebook"></i></a>
                                <a href="https://mail.google.com"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="member">
                    <img src="~/images/Additional/employe 2.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section><!-- employee -->
@*<section id="intro" class="clearfix">
        <div class="container">



            @<div class="intro-img">
               <img src="~/Content/img/intro-img.svg" alt="" class="img-fluid">
            </div>*

            <div class="intro-info">
                <h2>We provide<br><span>solutions</span><br>for your business!</h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    <a href="#services" class="btn-services scrollto">Our Services</a>
                </div>
            </div>*

        </div>
    </section>*@
<!-- #intro -->